<div>
  <div>
    <p class="text-lg text-gray-500">Piece</p>
    <p>{{ review?.piece?.name }}</p>
  </div>
  <div>
    <p class="text-lg text-gray-500">Name</p>
    <p>{{ review?.name }}</p>
  </div>
  <div>
    <p class="text-lg text-gray-500">Description</p>
    <markdown ngPreserveWhitespaces [data]="review?.content"></markdown>
  </div>
  <div class="mt-2">
    <p class="text-lg text-gray-500">Tags</p>
    <mat-chip-list class="mt-2">
      <mat-chip *ngFor="let tag of review?.tags">{{ tag.name }}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="mt-2">
    <p class="text-lg text-gray-500">Creator</p>
    <p>{{ review?.creator?.userName }}</p>
  </div>
  <div class="mt-2">
    <p class="text-lg text-gray-500">Created Date</p>
    <p>{{ review?.createdAt | date: 'MMM d, y, h:mm a' }}</p>
  </div>
  <div>
    <img *ngFor="let image of review?.images"
         class="w-4/12"
         [src]="image.link"
         alt="review image"/>
  </div>
</div>

<mat-spinner *ngIf="reviewState === QueryState.Loading">
</mat-spinner>


<div class="flex justify-center mt-2">
  <div class="w-3/5 flex flex-col justify-end gap-2">
    <app-rating *ngIf="isAuthorized"
                class="w-fit self-end"
                [rating]="savedRating !== null ? savedRating.value : 0"
                (ratingChange)="ratingChange($event)"
                [loading]="ratingSavingState === QueryState.Loading">
    </app-rating>
    <div *ngIf="isAuthorized" class="flex items-center justify-center gap-2 mt-4">
      <mat-form-field class="w-full">
        <mat-label i18n>Leave a comment</mat-label>
        <textarea matInput [formControl]="commentaryControl"></textarea>
      </mat-form-field>
      <button class="h-fit comment-button"
              mat-raised-button
              [disabled]="commentaryControl.invalid || commentarySavingState === QueryState.Loading"
              (click)="onSaveCommentClick()"
              color="primary">
        <mat-spinner *ngIf="commentarySavingState === QueryState.Loading"
                     class="save-comment-loading"
                     [diameter]="20">
        </mat-spinner>
        <p class="margin-0" i18n >Comment</p>
      </button>
    </div>
  </div>
</div>

<div class="flex justify-center" >
  <mat-spinner *ngIf="commentariesState === QueryState.Loading">
  </mat-spinner>
</div>

<div class="flex flex-col">
  <div class="border-solid border-2 border-gray-500 p-4 mt-2 rounded-3xl"
       *ngFor="let commentary of commentaries">
    <div class="flex divide-x divide-solid gap-2">
        <p class="text-xs">{{ commentary.creator.userName }}</p>
        <p class="text-xs pl-2">{{ commentary.createdAt | date: 'MMM d, y, h:mm a' }}</p>
    </div>
    <div>
      <pre class="text-base">{{ commentary.content }}</pre>
    </div>
  </div>
</div>