<div class="flex flex-wrap gap-4 mt-4">
  <ng-container *ngFor="let review of reviews">
    <mat-card class="review-card">
      <mat-card-header>
        <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
        <mat-card-subtitle>{{ review.creator.userName }}</mat-card-subtitle>
      </mat-card-header>
      <ng-container *ngFor="let image of review.images">
        <img mat-card-image [src]="image.link" i18n-alt alt="review image">
      </ng-container>
      <mat-card-content>
        <markdown [data]="review.content.split('\n').slice(0, 2).join('\n') + '...'"  ngPreserveWhitespaces>
        </markdown>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="isAuthorized" mat-icon-button
                [color]="review.like !== null ? 'primary' : 'default'"
                (click)=onLikeClick(review.id)>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button [routerLink]="['/review', review.id]">Read More</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
