<div class="flex">
  <div class="flex flex-wrap justify-center w-4/5 gap-4 mt-4 pl-2">
    <mat-spinner *ngIf="reviewsState === QueryState.Loading">
    </mat-spinner>
    <ng-container *ngIf="reviewsState === QueryState.Success">
      <mat-card *ngFor="let review of reviews" class="review-card">
        <mat-card-header>
          <mat-card-subtitle>{{ review.creator.userName }}</mat-card-subtitle>
        </mat-card-header>
        <ng-container *ngFor="let image of review.images">
          <img mat-card-image [src]="image.link" i18n-alt alt="review image">
        </ng-container>
        <mat-card-content>
          <div class="flex mb-1">
            <mat-icon class="piece-icon">computer</mat-icon>
            <span>{{ review.piece.name }}</span>
          </div>
          <div class="flex flex-col">
            <p class="text-sm text-gray-500">Name</p>
            <p class="text-lg">{{ review.name }}</p>
          </div>
          <div class="flex flex-col">
            <p class="text-sm text-gray-500">Description</p>
            <markdown ngPreserveWhitespaces
                      [data]="review.content.split('\n').slice(0, 2).join('\n') + '...'">
            </markdown>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="isAuthorized" mat-icon-button
                  [color]="review.like !== null ? 'primary' : 'default'"
                  (click)=onLikeClick(review.id)>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-button [routerLink]="['/review', review.id]">Read More</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
  <div class="pt-4 w-1/5">
    <mat-form-field class="w-full" appearance="fill">
      <mat-label i18n>Search tags</mat-label>
      <input matInput [formControl]="tagsInput">
    </mat-form-field>
    <mat-spinner *ngIf="tagsState === QueryState.Loading">
    </mat-spinner>
    <mat-chip-list *ngIf="tagsState === QueryState.Success"
                   aria-label="Tags selection">
      <mat-chip *ngFor="let tag of tags"
                (click)="onTagClick(tag.id)"
                [selected]="tag.selected">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>