
<mat-card class="d-flex align-items-center justify-content-center gap-1">
  <button mat-icon-button color="primary" i18n-aria-label aria-label="Review filter button">
      <mat-icon>filter_list</mat-icon>
  </button>
  <form class="d-flex gap-2 flex-wrap" [formGroup]="filterForm">
      <mat-form-field>
        <mat-label i18n>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Group</mat-label>
        <input type="text"
                i18n-placeholder
                placeholder="Pick one"
                i18n-aria-label
                aria-label="Number"
                matInput
                formControlName="group"
                [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let group of groups | async" [value]="group.name">
            {{ group.name }}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Piece</mat-label>
        <input matInput formControlName="piece">
      </mat-form-field>

      <mat-form-field class="grade">
        <mat-label i18n>Grade from</mat-label>
        <input type="number"
               min="1"
               max="10"
               formControlName="gradeFrom"
               matInput>
      </mat-form-field>
      <mat-form-field class="grade">
        <mat-label i18n>Grade to</mat-label>
        <input type="number"
               min="1"
               max="10"
               formControlName="gradeTo"
               matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label i18n>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
        <input matStartDate
               formControlName="dateStart"
               i18n-placeholder
               placeholder="Start date">
        <input matEndDate
               formControlName="dateEnd"
               i18n-placeholder
               placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>      
  </form>
</mat-card>
  