<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
  <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">Reviews</a>
  <span class="spacer"></span>
  <button mat-icon-button (click)="toggleTheme()" aria-label="toggle theme">
    <mat-icon *ngIf="theme === Theme.Light">light_mode</mat-icon>
    <mat-icon *ngIf="theme === Theme.Dark">dark_mode</mat-icon>
  </button>
  <a *ngIf="!(isAuthenticated | async)" class="navbar-brand" [routerLink]="['/login']" i18n
    >Sign in</a
  >
  <a *ngIf="(isAuthenticated | async)" class="navbar-brand" [routerLink]="['/me']"
    >{{ userName | async }}</a
  >
</mat-toolbar>
