.snack-bar-error.snack-bar-error {
    color: var(--bs-white);
    background-color: var(--bs-red);

    .details {
        max-width: 90%;
    }
}

.typography-reset-margin.typography-reset-margin {
    margin: 0;
}